
<footer class="site-footer center">
  <div class="footer-content">
    <p class="footer-contact">Open to collaboration and engineering discussions.</p>
    <div class="contact-links">

      <h4>
        <a href="mailto:daniel.c.young01@gmail.com">
          <span>Email</span></a>
      </h4>
      
      <h4>
        <a href="https://www.linkedin.com/in/daniel-ca-young" target="_blank" rel="noopener noreferrer">
          <span>LinkedIn</span>
        </a>
      </h4>

    </div>
  </div>
</footer>
